body {
    background-color: tan;
    place-content: center; 
    background-size: cover;
    background-position: top; 
 }

 /* INICIO CONTENDOR SUPERIOR */ 

#cont-superior {
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 3px double brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2px;
    color: darkred;
    font-family: sans-serif;
}

#mi-divH h1 {
    margin-bottom: 2px;
    font-size: 22px;
    font-family: sans-serif;
    color: darkblue
}

.selH {
    width: 98%;
    display: flex;
    text-align: left;
}

.selH label {
    width: 100%;
    font-size: 80%;
}

.selH select {
    background-color: lightcyan;
    width: 40%;
    font-size: 65%;
    justify-content: right;
    margin: 1px;
    margin-left: 5%;
    border: solid 1px;
    text-align:center ;
    color: darkblue;
}

#cont-superior button {
    background-color: wheat;
    font-weight: bolder;
    font-size: 70%;
    border: solid 3px brown;
    margin: 2px;
    border-radius: 10px;
    width: 90%;
    height: 60%;
}

#la-selec {
    display:none; 
    width: 100%;
    background-color: brown;
    color: blanchedalmond;
}

#la-selec p {
    margin: 2px;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 5%;
}

/* FIN CONTENEDOR SUPERIOR */

/* INICIO CONTENDOR DE SALIDA */ 

#cont-salida {
    width: 95%;
    display: inline-block;
    padding-left: 5%; 
    margin: 0 auto; 
    margin-top: 2px;
}

#cont-productos {
    border: solid 1px brown;
    background-color:tan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Para imagen x URL */
    background-size: cover;
    background-position: center;  
    display: none;
}

.cont-prodx {
    width: calc(100% / 5); /* Distribuye en 5 productos por fila */
    height: 100%;
    width: fit-content;
    height: fit-content;
    border: double 1px brown;
    display: grid;
    place-content: center;
    margin: 2px;
}

.cont-prodx h2 {
    margin-top: 1px;
    padding-top: 5px;
    width: 260px;
    height: 45px;
    line-height: 1;
    /*font-size: 0.85vw;*/
    font-size: 80%;
    border: solid 1px white;
    text-align: center;
    font-family: sans-serif;
    color: darkblue;
}

.cont-imgprod {
    background-color: white;
    border: solid 5px darkred;
    height: 150px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-prodx {
    max-width: 95%;
    max-height: 95%;
    width: auto;
    height: auto;
}

.selP {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 60%;
    text-align: center;
    font-weight: bold;
}

.selP label {
    width: 100%;
}

.selP select {
    background-color: lightcyan;
    border: solid 2px;
    text-align:center ;
    color: darkblue;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
}

.bot-prodx {
    background-color: rgb(190, 190, 140);
    border: solid 2px brown;
    margin-top: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 65%; /* Cambiado */
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:  blanchedalmond !important;
}

h5 {
    font-size: 70%;  
}

@media (min-width: 992px){
#carrito-1 {
    display: none;
    }
}

@media (max-width: 992px){
#carrito-2 {
    display: none;
    }
}
